SampleXml.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Details">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Name"/>
        <xsd:element ref="Rashi"/>
        <xsd:element ref="Freidn"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Freidn" type="xsd:string"/>
  <xsd:element name="Rashi" type="xsd:string"/>
  <xsd:element name="Name" type="xsd:string"/>
</xsd:schema>
